<div class="ui five column-resize-line grid">
    <div class="column">
        <div class="ui raised inverted red cards">
            <div class="card">
                <div class="content">
                    <div class="header">${_station.name} <i class="right floated big purple map marker icon"></i></div>
                    <div class="description">
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui inverted orange cards">
            <div class="card">
                <div class="content">
                    <div class="header"> Weather <i class="right floated big red cloud sun icon"></i></div>
                    <div class="description">
                    #{list items:_station.stat,as:'stat'}
                    ${stat.weatherType}
                    #{/list}
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui inverted yellow cards">
            <div class="card">
                <div class="content">
                    <div class="header">Temp <i class="right floated temperature big blue low icon"></i></div>
                    <div class="description">
                    #{list items:_station.stat,as:'stat'}
                    ${stat.temperatureType} C
                        <br>
                    ${stat.fahrenheitType} F
                    #{/list}
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui inverted green cards">
            <div class="card">
                <div class="content">
                    <div class="header">Wind <i class="right floated wind big green icon"></i></div>
                    <div class="description">
                    #{list items:_station.stat,as:'stat'}
                    ${stat.windSpeedType} bft
                        <br>
                    ${stat.windDirectionType}
                        <br>
                        Feels Like
                        <br>
                    ${stat.windChillType}
                    #{/list}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui inverted blue cards">
            <div class="card">
                <div class="content">
                    <div class="header">Pressure <i class="right floated big dark orange sun outline icon"></i></div>
                    <div class="description">
                    #{list items:_station.stat,as:'stat'}
                    ${stat.pressureType} hpa
                    #{/list}
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="ui large centered images">
    <img class="ui  image"
         src="https://www.offalyexpress.ie/resizer/600/315/true/1590136429328.JPG--ireland_weather_forecast_for_the_weekend_from_met_eireann.JPG?1590136429000,"
         alt="">
    <img class="ui  image"
         src="https://www.leinsterexpress.ie/resizer/600/315/true/1615123931307.JPG--met_eireann_rte_weather_storm.JPG?1615123931000"
         alt="">
</div>
<table class="ui fixed table">
    <thead>
    <tr>
        <th>Code</th>
        <th>Temperature</th>
        <th>Wind Speed</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    #{list items:_station.readings,as:'reading'}
    <tr>
        <td>
        ${reading.code}
        </td>
        <td>
        ${reading.temperature}
        </td>
        <td>
        ${reading.windSpeed}
        </td>
        <td>
        ${reading.windDirection}
        </td>
        <td>
        ${reading.pressure}
        </td>
        <td>
            <a href="/station/${_station.id}/deletereading/${reading.id}" class="ui red icon button">
                <i class="icon trash"></i></a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>
