#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<div class="ui center aligned middle aligned inverted segment">
    <h1 class="ui blue header">
        About The WeatherTop App
    </h1>
    <br>
    <div class="ui main text container">
        <div class="ui two column centered grid">
            <div class="four column centered row">
                <i class="red bolt icon"></i>
                <i class="orange cloud icon"></i>
                <i class="yellow cloud meatball icon"></i>
                <i class="green moon icon"></i>
                <i class="blue cloud moon rain icon"></i>
                <i class="pink cloud rain icon"></i>
                <i class="purple cloud showers heavy icon"></i>
                <i class="red cloud sun icon"></i>
                <i class="orange cloud sun rain icon"></i>
                <i class="green meteor icon"></i>
                <i class="blue moon icon"></i>
                <i class="pink moon outline icon"></i>
                <i class="purple poo storm icon"></i>
                <i class="red rainbow icon"></i>
                <i class="orange smog icon"></i>
                <i class="yellow snowflake icon"></i>
                <i class="green snowflake outline icon"></i>
                <i class="blue sun icon"></i>
                <i class="pink sun outline icon"></i>
                <i class="purple temperature high icon"></i>
                <i class="red temperature low icon"></i>
                <i class="orange umbrella icon"></i>
                <i class="yellow water icon"></i>
                <i class="green wind icon"></i>
                <p class="ui yellow header">This App updates you on the latest weather and there measurements</p>
            </div>
            <img class="ui circular image"
                 src="https://images.squarespace-cdn.com/content/v1/5b1bb51ce2ccd11f3d8bb3d4/1571580206228-QK4SMKAOBG3U1CCBTZTA/ke17ZwdGBToddI8pDm48kMPeEJEKDXu63v1wQMhJnxAUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcQngWo3HkeVUef8RevRPYe8eN6Hs5OwK-CgR5YAtsovE1i3Npb2g3TdSDx5fFpIjO/weather.gif?format=1500w"
                 alt="">
            <p>
            <p>This app will allow you to Add Stations & Readings. This will be available on our dashboard page
                soon.</p>
            <br>
            <p>Keep up to date on the weather</p>
            <div class="ui fluid image">
                <img class="ui circular image"
                     src="https://freefrontend.com/assets/img/css-weather-icons/some-weather-icon-svgs.gif" alt="">
                This is an new App that has been developed to show you tables of Weather stats to help you plan your
                getaways.
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="ui inverted blue vertical footer segment">
        <div class="ui container">
            Weathertop Stations 2021.All Rights Reserved
        </div>
    </div>
</div>