#{extends 'main.html' /}
#{set title:'Station' /}
#{menu id:"station"/}
#{list items:station, as:'stat'}
<section class="ui inverted blue segment">
    <h2 class="ui header">
        <u> ${station.name}</u>
        <section class="ui inverted yellow segment">
            <i class=" huge white umbrella icon"></i>
            <h5> Min Temp: ${minTemp} C
                <i class=" big blue temperature low icon"></i>
                Max Temp: ${maxTemp} C
                <i class="big red temperature low icon"></i>
                Min WindSpeed : ${minSpeed}
                <i class="big grey wind icon"></i>
                Max WindSpeed :${maxSpeed}
                <i class="big red wind icon"></i>
                Min Pressure: ${minPress} hpa
                <i class="big purple sun outline icon"></i>
                Max Pressure: ${maxPress} hpa
                <i class="big red sun outline icon"></i>
            </h5>
        </section>
    </h2>
    #{listreading station:station/}
    #{addreading station:station/}

    <div class="ui inverted yellow footer segment">
        <div class="ui container">
            <i class="big blue wind icon"></i> Weathertop Stations 2021 . All Rights Reserved Sophia McGee
        </div>
    </div>
</section>
#{/list}
<br>







